<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RoiDb" connectionString="Server=tcp:redoak.database.windows.net,1433;Initial Catalog=redoak_v3;User ID=redoak;Password=qazwsx@1701;MultipleActiveResultSets=True;Connection Timeout=120" providerName="System.Data.SqlClient"/>
  <add name="OldDbCtx" connectionString="data source=redoak.database.windows.net;initial catalog=roi;persist security info=True;user id=redoak;password=qazwsx@1701;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
