<div flex-gt-sm="90" flex="" layout="column">
    <input type="text" placeholder="Name" ng-model="Company.Name">
    <input type="text" placeholder="Street Address" ng-model="Company.Address">
    <input type="text" placeholder="City" ng-model="Company.City">
    <input type="text" placeholder="State" ng-model="Company.State">
    <input type="text" placeholder="Zip Code" ng-model="Company.Zip">
    <input type="text" placeholder="Contact Name" ng-model="Company.Contact">
    <input type="text" placeholder="Phone" ng-model="Company.Phone">
    <input type="text" placeholder="Email" ng-model="Company.Email">
</div>
<md-button class="md-raised" ng-click="updateCompany()">Save</md-button>
