<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a9f0550e-abb2-4b74-afb2-95e16915b3f9/resourcegroups/RedOak/providers/Microsoft.Web/sites/RedoakAdmin</ResourceId>
    <ResourceGroup>RedOak</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://redoakadmin.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>redoakadmin.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RedoakAdmin</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RedoakAdmin</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>redoakinstruments.com</ADDomain>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RoiDb" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:redoak.database.windows.net,1433;Initial Catalog=redoak_v3;Persist Security Info=False;User ID=redoak;Password=qazwsx@1701;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Roi.Data.RoiDb, Roi.Data" MigrationConfiguration="Roi.Data.Migrations.Configuration, Roi.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Roi.Data.OldDb.OldDbCtx" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:redoak.database.windows.net,1433;Initial Catalog=redoak_v3;Persist Security Info=False;User ID=redoak;Password=qazwsx@1701;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Roi.Data.OldDb.OldDbCtx, Roi.Data" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://redoakinstruments.com/WebApp-redoakadmin.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADUsesOwinOrOpenIdConnect>true</ADUsesOwinOrOpenIdConnect>
    <ADClientAPPID>0cf59746-098b-4f9a-add1-ccb99684939b</ADClientAPPID>
    <ADClientPassword>WyFfhNc4RvNudQTGumhjD0iEHMwK1JSIYONA7Wrg2h4=</ADClientPassword>
    <ADReplyUrl>https://redoakadmin.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>760bd8a7-35b0-4604-8233-dc8c0ce49baf</ADTenantId>
    <ADPostLogoutRedirectUri>https://redoakadmin.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="Roi.Data.OldDb.OldDbCtx-Web.config Connection String">
      <ParameterValue>Data Source=tcp:redoak.database.windows.net,1433;Initial Catalog=redoak_v3;Persist Security Info=False;User ID=redoak;Password=qazwsx@1701;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="RoiDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:redoak.database.windows.net,1433;Initial Catalog=redoak_v3;Persist Security Info=False;User ID=redoak;Password=qazwsx@1701;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Roi.Data.OldDb.OldDbCtx" />
  </ItemGroup>
</Project>